.parede {
    width: 30px;
    height: 30px;
    background-color: black;
  }
  .player {
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url('https://c7.uihere.com/files/509/426/399/spark-notes-the-great-gatsby-jay-gatsby-t-shirt-leonardo-dicaprio-thumb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px;
  }
  .fim {
    width: 30px;
    height: 30px;
    background-color:goldenrod;
  }
  .caminho {
    width: 30px;
    height: 30px;
    background-color: white;
  }
  
  body {
    background-color: whitesmoke;
  }
  
  .linhas {
    display: flex;
    flex-flow: wrap;
  }
  .start {
    width: 30px;
    height: 30px;
    background-color: goldenrod;
  }
  .vitoria {
    background-image: url('https://i.gifer.com/Be.gif');
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
  }
  
  